<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "SQL Trainer" }}</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">

</head>
<body>
  <header class="header">
    <div class="container header__inner">
      <a class="logo" href="{{ url_for('index') }}">SQL Trainer</a>
      <nav class="nav">
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('lectures_index') }}">Лекции</a>
        <a href="{{ url_for('about') }}">Обо мне</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-list">
          {% for category, message in messages %}
            <div class="flash flash--{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
      <small>© 2026 SQL Trainer</small>
    </div>
  </footer>
</body>
</html>
